@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --sectionPadding: 9rem 5rem; */
  --sectionPadding: 5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
/* .projects-swiper .swiper-slide {
  transform: scale(0.85);
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  opacity: 0.6;
}

.projects-swiper .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}

.projects-swiper .swiper-slide-next,
.projects-swiper .swiper-slide-prev {
  transform: scale(0.5);
  opacity: 0.8;
} */
.projects-swiper .swiper-slide-active {
  transform: scale(1) translateY(-10px);
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.45);
}
.projects-swiper .project-scale {
  transform: scale(0.85);
  transition:
    transform 0.45s ease,
    opacity 0.45s ease;
  opacity: 0.6;
}

.projects-swiper .swiper-slide-active .project-scale {
  transform: scale(1);
  opacity: 1;
}

.projects-swiper .swiper-slide-next .project-scale,
.projects-swiper .swiper-slide-prev .project-scale {
  transform: scale(0.8);
  display: flex;
  justify-items: start;
  align-items: center;
  opacity: 0.8;
}
